.add-container{
    display: none;
    padding: 1vw;
    border:1px solid black;         
    background-color:white;
    top:10vw;
    position:fixed;
    left : 30vw ;
    width:40vw;  
    z-index: 2;      
}
