.add-container{
    display: none;
    padding: 1vw;
    border:1px solid black;         
    background-color:white;
    top:10vw;
    position:fixed;
    left : 30vw ;
    width:40vw;  
    z-index: 2;      
}

body{
    background-color: #808080;  
}



.add{  
    width: 30%;
    margin-left:35%;
    margin-bottom: 1vh;
}


.add:hover{
    background-color: chartreuse;
    color:black;
}